<p>login works!</p>
<div class="container col-4">
  <form class="form-group"  [formGroup]="loginformRef" (ngSubmit)="checkLogin()">
     UserName : <input class="form-control" type="text" formControlName="username"> <br/>
     Password : <input class="form-control" type="password" formControlName="password"> <br/>
    <input type="submit" class="btn btn-outline-primary m-2" value="Login">
    <input type="reset" class="btn btn-outline-info" value="clear">

  </form>
</div>
<span style="color: red">{{msg}}</span>
